<section class="banner-container">
    <img id="banner-image" src="../../../assets/banner-image2.jpeg" alt="">

    <div class="banner-text">
        <h1 id="banner-title">FIT FINDER</h1>
        <h6 id="banner-subtitle">We know you have better things to do with your time.</h6>
        <div class="container text-center">
            <div class="row align-items-start">
                <div class="col users me-auto">
                    <h3 id="col-title">Need a gym?</h3>
                    <p id="col-subtitle">
                        The ultimate solution for finding the gym that meets your unique needs. Easily search for gyms based on equipment, amenities, and services they offer.
                    </p>
                </div>
                <div class="col owners">
                    <h3 id="col-title">Own a gym?</h3>
                    <p id="col-subtitle">
                        Effortlessly list your facilities, manage your inventory, and attract fitness enthusiasts. Showcase what makes your gym stand out from the competition.
                    </p>
                </div>
            </div>
          </div>
    </div>
</section>