<footer class="text-center">
    <div class="socials">
      <!-- gmail -->
      <a class="btn" href="mailto:knnguyen2410@gmail.com">
        <img src="../../assets/logo-gmail.png" alt="gmail logo">
      </a>
      <!-- linkedin -->
      <a class="btn" href="https://www.linkedin.com/in/knnguyen2410/">
        <img src="../../assets/logo-linkedin.png" alt="linkedin logo">
      </a>
      <!-- github -->
      <a class="btn" href="https://github.com/knnguyen2410">
        <img src="../../assets/logo-github.png" alt="github logo">
      </a>
    </div>
    <div class="copyright">
      © 2023 <a class="text-white" href="https://github.com/knnguyen2410/fit-finder-frontend">Kim Nguyen</a>
    </div>
  </footer>  