<footer class="text-center text-black">
    <div class="socials">
        <!-- gmail -->
        <a class="btn" href="#!" role="button">
            <img src="../../assets/logo-gmail.png" alt="gmail logo">
        </a>
        <!-- linkedin -->
        <a class="btn" href="#!" role="button">
            <img src="../../assets/logo-linkedin.png" alt="linkedin logo">
        </a>
        <!-- github -->
        <a class="btn" href="#!" role="button">
            <img src="../../assets/logo-github.png" alt="github logo">
        </a>
    </div>
    <div class="copyright">
            © 2023 <a class="text-black" href="https://github.com/knnguyen2410">Kim Nguyen</a>
    </div>
</footer>
