<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="left-section">
        <br>
        <h2>Fitness For All</h2>
        <h4>Everyone is unique, and so is their fitness journey.</h4>
        <br>
        <p>
          We understand that your path to fitness is personal and should be tailored to your individual needs. That's why we're here to help. Our mission is to connect gyms and fitness enthusiasts, ensuring that everyone can find their perfect fit.
        </p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="right-section">
        <img src="../../assets/about1.jpeg" alt="Image 1" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 order-lg-2">
      <div class="left-section">
        <br>
        <h2>For Gym Goers</h2>
        <h4>Discover your ideal gym, even before setting foot inside it.</h4>
        <br>
        <p>
          Is there equipment you’ve been dying to try? Or an amenity that will take your fitness journey to the next level? We’ve got you covered. Find a gym that perfectly matches your needs and preferences today.
        </p>
      </div>
    </div>
    <div class="col-lg-6 order-lg-1">
      <div class="right-section">
        <img src="../../assets/about2.jpeg" alt="Image 2" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="left-section">
        <br>
        <h2>For Gym Owners</h2>
        <h4>Build not just a business, but a community.</h4>
        <br>
        <p>
          Looking to showcase your facility and build a vibrant community of fitness enthusiasts? Look no further. Fit Finder provides you with the platform to present your gym's equipment and amenities, highlighting what makes your facility stand out. Our platform serves as a public inventory management system, harnessing that valuable data to benefit both gym owners and fitness seekers.
        </p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="right-section">
        <img src="../../assets/about3.jpeg" alt="Image 3" class="img-fluid">
      </div>
    </div>
  </div>
</div>