.hero-container {
    position: relative;
    width: 100%;
}

#hero-video {
    width: 100%;
    height: auto;
    z-index: 0;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

#title {
    font-size: 70px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0);
}

#subtitle {
    font-size: 25px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0);
}