<div class="album py-5">

    <h1 class="gyms-title">All Amenities</h1>
    <br>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  
        <div class="col" *ngFor="let amenity of amenityList">
          <div class="card shadow-sm mb-4">
            <img class="bd-placeholder-img card-img-top" src="{{amenity.image}}" alt="Thumbnail">
            <div class="card-body">
                 <h1>{{ amenity.name }}</h1>
                 <h4>{{ amenity.category }}: {{ amenity.subcategory }}</h4>
                <p>{{ amenity.details }}</p>
                <p class="text-end">Available: {{ amenity.quantity }}</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>