<div class="album py-5">
  <div class="container-lg">

    <div *ngIf="hasJWT() == true" class="d-flex justify-content-center align-items-center container-form">
      <main class="form-signin w-100 m-auto max-width-custom">
        <form (ngSubmit)="onSubmit()">
          <h1 class="h3 mb-3 fw-normal text-center">Create A Gym</h1>
          <br>
          <div class="form-floating">
            <input [(ngModel)]="gym.name" name="name" type="text" class="bg-dark form-control text-white" id="floatingName" placeholder="Gym Name">
            <label for="floatingName">Gym Name</label>
          </div>
          <div class="form-floating">
            <input [(ngModel)]="gym.category" name="category" type="text" class="bg-dark form-control text-white" id="floatingCategory" placeholder="Category">
            <label for="floatingCategory">Category</label>
          </div>
          <div class="form-floating">
            <input [(ngModel)]="gym.addressStreet" name="addressStreet" type="text" class="bg-dark form-control text-white" id="floatingAddressStreet" placeholder="Street Address">
            <label for="floatingAddressStreet">Street Address</label>
          </div>
          <div class="form-floating">
            <input [(ngModel)]="gym.addressCity" name="addressCity" type="text" class="bg-dark form-control text-white" id="floatingAddressCity" placeholder="City">
            <label for="floatingAddressCity">City</label>
          </div>
          <div class="form-floating">
            <input [(ngModel)]="gym.addressState" name="addressState" type="text" class="bg-dark form-control text-white" id="floatingAddressState" placeholder="State">
            <label for="floatingAddressState">State</label>
          </div>
          <div class="form-floating">
            <input [(ngModel)]="gym.addressZip" name="addressZip" type="text" class="bg-dark form-control text-white" id="floatingAddressZip" placeholder="Zip">
            <label for="floatingAddressZip">Zip</label>
          </div>
          <div class="form-floating">
            <input [(ngModel)]="gym.hours" name="hours" type="text" class="bg-dark form-control text-white" id="floatingHours" placeholder="Gym Hours">
            <label for="floatingHours">Gym Hours</label>
          </div>
          <div class="form-floating">
            <input [(ngModel)]="gym.phone" name="phone" type="text" class="bg-dark form-control text-white" id="floatingPhone" placeholder="Gym Phone">
            <label for="floatingPhone">Gym Phone</label>
          </div>
          <div class="form-floating">
            <input [(ngModel)]="gym.details" name="details" type="text" class="bg-dark form-control text-white" id="floatingDetails" placeholder="Gym Details">
            <label for="floatingDetails">Gym Details</label>
          </div>
          <div class="form-floating">
            <input [(ngModel)]="gym.image" name="image" type="text" class="bg-dark form-control text-white" id="floatingImage" placeholder="Gym Image">
            <label for="floatingImage">Gym Image</label>
          </div>
          <button class="btn btn-secondary w-100 py-2" type="submit">Create</button>
        </form>
      </main>
    </div>

    <br>
    <br>
    <h1 class="gyms-title">All Gyms</h1>
    <br>
    <app-search-bar></app-search-bar>
  </div>
  <br>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let gym of gymList">
          <div class="card shadow-sm mb-4">
            <img class="bd-placeholder-img card-img-top" src="{{gym.image}}" alt="Thumbnail">
            <div class="card-body">
               <h1>{{gym.name}}</h1>
               <h4>{{ gym.category }}</h4>
               <p>{{ gym.details }}</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <a routerLink="/gyms/{{gym.id}}"><button type="button" class="btn btn-sm btn-outline-light">Learn More</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>