<br>
<br>
<div class="container col-xxl-8 px-4 py-5 rounded bg-dark container-hero">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6 text-center">
       <img src="{{ owner.image }}" class="profile d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6 text-center">
      <h1 class="owner-title">Gym Owner Profile</h1>
      <br>
      <br>
      <br>
      <h1>{{ owner.name }}</h1>
      <p class="lead">{{ owner.email }}</p>
      <br>
      <br>
      <br>
      <div class="d-grid gap-2 d-md-flex justify-content-center">
        <a routerLink="/owners/{{owner.id}}/gyms">   
          <button type="button" class="btn btn-light btn-lg px-4">See My Gyms</button>
        </a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
