<app-hero></app-hero>

<section class="about-container">
    <img id="about-image" src="../../../assets/about-image2.jpeg" alt="">

    <div class="about-text">
        <h1 id="about-title">FIT FINDER</h1>
        <h6 id="about-subtitle">We know you have better things to do with your time.</h6>
        <div class="container text-center">
            <div class="row align-items-start">
                <div class="col users me-auto">
                    <h3 id="col-title">Need a gym?</h3>
                    <p id="col-subtitle">
                        The ultimate solution for finding the gym that meets your unique needs. Easily search for gyms based on equipment, amenities, and services they offer.
                    </p>
                </div>
                <div class="col owners">
                    <h3 id="col-title">Own a gym?</h3>
                    <p id="col-subtitle">
                        Effortlessly list your facilities, manage your inventory, and attract fitness enthusiasts. Showcase what makes your gym stand out from the competition.
                    </p>
                </div>
            </div>
          </div>
    </div>
</section>